.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 95vh;
}

.panel {
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 80vh;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin: 0.33rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-indent: 0.5rem;
}

.panel.active {
    flex: 1;
    object-fit: contain;
}

.panel h3 {
    font-size: 2rem;
    position: absolute;
}
