.container {
    top: -20vh;
    text-align: center;
    position: absolute;
    width: 100vw;
}

.image {
    width: 107%;
    object-fit: contain;
    border-radius: 5px;
}

.dotContainer {
    padding: 1rem;
    border-radius: 10rem;
    background-color: #ededed80;
    position: absolute;
    top: 110vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 1rem 0 1rem;
    cursor: pointer;
    background-color: #ffffff;
}

.dot.active {
    background-color: rgb(176, 111, 206);
    width: 13px;
    height: 13px;
}
